body, html 
{
  height: 100%;
  background-color: black;
  font-family: "Baskerville Old Face";
}
header
{
  position: fixed;
  z-index:2;
  left: 180px;
  
}
#LogoM
{
  
  position: fixed;
  left: 700px;
  top: 1px;
  height: 70px;
}
/*#topnav
{
  background-color: black;
  float: inline-start;
  display: flex ;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-family: "Baskerville Old Face";
}*/
#erebor
{
  opacity: 65%;
  padding-top: 220px;
}
div
{ 
  text-align: center;
}
.container
{
  position: fixed;
  left: -15px;
  width: 400%;
  max-width: none;
  font-family: "Baskerville Old Face", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
  }
  #Bouttons a :active
  {
    outline-style: none;
  }
.parallax 
{
  /* The image used */
  background-image: url('Grp1.jpg');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax2 
{
  /* The image used */
  background-image: url('Grp2.jpg');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}