body, html {
  height: 100%;
  background-color: black;
  font-family: "Baskerville Old Face";
}
#bouton
{
  padding-left: 150px;
}
#LogoM
{
  margin-left: 70px;
  position: relative;
  left: 40px;
}
#topnav
{
  background-color: black;
  float: inline-start;
  display: flex ;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-family: "Baskerville Old Face";
}
#erebor
{
  opacity: 65%;
  padding-top: 120px;
}
div
{ 
  text-align: center;
}
.container a
{
  font-family: "Baskerville Old Face", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
}
.parallax {
  /* The image used */
  background-image: url('Grp1.jpg');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax2 {
  /* The image used */
  background-image: url('Grp2.jpg');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}